body{
	background-color:black;
}

.c3-xgrid-line.lPos line {
    stroke: green;
}

.c3-xgrid-line.lNeg line{
    stroke : red;
}

.c3-xgrid-line.lPos text{
    stroke:green;
}
.c3-xgrid-line.lNeg text{
    stroke:red;
}


.c3-ygrid-line.btcLow line{
	stroke : red;
}

.c3-ygrid-line.btcLow text{
	stroke : red;
}

.c3-ygrid-line.btcHigh line{
	stroke : white;
}

.c3-ygrid-line.btcHigh text{
	stroke : white;
}

.c3-axis-y2-label text{
    stroke:purple;
}

.c3-xgrid-line text {
    fill: black;
}

.c3-region {
	background-color: red;
	color:red;
}

path.domain { stroke: white; }
.tick text { stroke: grey; }
.c3-legend-item text { stroke: grey; }


.c3-region.sell {
	fill: red;
}
.c3-region.buy {
	fill: green;
}

.c3-axis-y2-label{
	fill:white;
}